@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.footer-reveal {
  opacity: 0;
  transform: translateY(-80px);
}

.footer-reveal.is-visible {
  animation: footerTextDrop 1s
    cubic-bezier(0.65, 0, 0.35, 1)
    forwards;
  animation-delay: var(--delay);
}

@keyframes footerTextDrop {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* REVEAL CSS */

.reveal {
  opacity: 0;
  transform: translateY(-80px);
}

.reveal-visible {
  animation: textDrop 1s
    cubic-bezier(0.65, 0, 0.35, 1)
    forwards;
  animation-delay: var(--reveal-delay);
}

@keyframes textDrop {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* DOT ANIMATION CSS */
.section-dot {
  display: inline-block;
  font-size: 34px;
  line-height: 14px;
  animation: blinkDot 1.5s ease-in-out infinite;
}

@keyframes blinkDot {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }
}

/* ARROW CSS */
.text {
  position: relative;
  display: inline-block;
}

.text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 1px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s cubic-bezier(0.65, 0, 0.35, 1);
}

.arrow {
  display: inline-block;
  margin-left: 7px;
  transition: transform 0.5s cubic-bezier(0.65, 0, 0.35, 1);
}

.text:hover::after {
  transform: scaleX(1);
}

.text:hover + .arrow {
  transform: translate(3px, -3px);
}